@import 'tailwindcss';

@layer base {
  :root {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --radius: 0.5rem;
  }
}

@layer utilities {
  .blink {
    animation: blink 1.5s infinite;
  }
  
  @keyframes blink {
    0%, 50% {
      opacity: 1;
      color: rgb(57, 133, 255);
    }
    51%, 100% {
      opacity: 0.6;
      color: rgb(34 197 94);
    }
  }

  .animate-slide-left {
    animation: slide-left 80s linear infinite;
  }
  
  @keyframes slide-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .marquee-content {
    display: inline-block;
    animation: marquee 60s linear infinite;
    white-space: nowrap;
  }

  .marquee-content-with-pause {
    display: inline-block;
    animation: marquee-with-pause 81s linear infinite;
    white-space: nowrap;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee-with-pause {
    0% {
      transform: translateX(100%);
    }
    98.77% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
