@import 'tailwindcss';

@layer base {
  :root {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --radius: 0.5rem;
  }
}

@layer utilities {
  .blink {
    animation: blink 1.5s infinite;
  }
  
  @keyframes blink {
    0%, 50% {
      opacity: 1;
      color: rgb(57, 133, 255);
    }
    51%, 100% {
      opacity: 0.6;
      color: rgb(34 197 94);
    }
  }
}
